<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944248096163-g0cukfdk3mrk3mld0g8m96vqftplgesk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944248096163-g0cukfdk3mrk3mld0g8m96vqftplgesk</string>
	<key>API_KEY</key>
	<string>AIzaSyASj9s_VuKhPvV2oopubxlv0iCOdV0Wvvw</string>
	<key>GCM_SENDER_ID</key>
	<string>944248096163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-a6985</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-a6985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944248096163:ios:b9d7b562ed2c17cc58c616</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-a6985-default-rtdb.firebaseio.com</string>
</dict>
</plist>